body {
  height: 100vh;
  margin: 0;
  background-color: #80808033;
}

.key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
  width: 22px;
  min-height: 33px;
  background: rgb(100 100 100 / 30%) radial-gradient(circle at 0 0, rgb(255 255 255 / 0%), rgb(255 255 255 / 40%));
  color: #1c1c1c;
  border: 1.5px solid #1c1c1c5c;
  box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-out;

  &.js-active {
    box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.9);
    background-color: #1c1c1a26;
  }

  &[data-code="Backspace"] {
    width: 80px;
  }

  &[data-code="Tab"] {
    width: 32px;
  }

  &[data-code="CapsLock"],
  &[data-code="Enter"] {
    width: 53px;
  }

  &[data-code="ShiftLeft"],
  &[data-code="ShiftRight"] {
    width: 76px;
  }

  &[data-code="ControlLeft"],
  &[data-code="ControlRight"] {
    width: 55px;
  }

  &[data-code="Space"] {
    width: 244px;
  }

  &[data-code="ArrowLeft"],
  &[data-code="ArrowRight"],
  &[data-code="ArrowDown"],
  &[data-code="ArrowUp"] {
    color: rgba(255, 240, 240, 0);

    &:after {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      border-bottom-width: 1px;
      border-left-width: 1px;
      border-color: #000000;
      border-bottom-style: solid;
      border-left-style: solid;
      position: absolute;
    }
  }

  &[data-code="ArrowUp"] {
    &:after {
      transform: rotate(135deg);
    }
  }

  &[data-code="ArrowRight"] {
    &:after {
      transform: rotate(-135deg);
    }
  }

  &[data-code="ArrowLeft"] {
    &:after {
      transform: rotate(45deg);
    }
  }

  &[data-code="ArrowDown"] {
    &:after {
      transform: rotate(-45deg);
    }
  }

  &:hover {
    cursor: pointer;
  }

  &-board {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    height: 100%;

    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 740px;
      gap: 5px;
      padding: 10px;
      border-radius: 10px;
      background-color: #8080802e;
      box-shadow: 0 10px 10px rgba(0,0,0,0.22);
    }

    &__textarea {
      width: 100%;
      max-width: 740px;
      padding: 10px;
      font-size: 20px;
      resize: none;
      background-color: #80808036;
      box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.22);
      border: 1.5px solid #ffffff;
      border-radius: 5px;
      outline: none;

      &:focus {
        border: 1.5px solid #ffffff;
        outline: none;
      }
    }
  }
}
